<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/static/jquery-easyui/jquery.min.js}"></script>
    <script th:src="@{/static/jquery-easyui/jquery.easyui.min.js}"></script>
    <script th:src="@{/static/jquery-easyui/locale/easyui-lang-zh_CN.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/jquery-easyui/themes/default/easyui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/jquery-easyui/themes/icon.css}" />
    <link rel="stylesheet" th:href="@{/static/css/region.css}" />
    <style>
        .region2_form {
            padding: 16px;
        }
        .region2_form>p {
            max-width: 22em;
            margin-top: 16px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
        }
        .region2_form_button {
            text-align: center;
            margin-top: 25px;
            margin-bottom: 15px;
        }
        .region2_form_button>a {
            margin-right: 5px;
        }
        .region2_form_button span {
            font-size: 1rem;
            letter-spacing: 1px;
        }
    </style>
    <script th:inline="javascript">
        var basePath = /*[[${#request.getContextPath()}]]*/ "http://localhost:8081/studentmanagement";
        var provinces = [[${provinces}]];
    </script>
    <script th:src="@{/static/js/regionManage.js}"></script>
    <title>地区字典</title>
</head>
<body>
<table id="regions"></table>
<div id="toolbar">
    <div class="search">
        <p><label for="name_s">地区</label><input class="easyui-textbox" id="name_s"></p>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="region.search()">查询</a>
    </div>
    <div class="button">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="region.add()">添加</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="region.edit()">修改</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="region.remove()" id="remove">删除</a>
        <a class="easyui-linkbutton" data-options="iconCls:'pic_123',plain:true" onclick="batchImport()">批量导入(Excel)</a>
    </div>
</div>
<div id="region_dialog" class="easyui-dialog" data-options="closed:true,modal:true" style="width:500px;">
    <form id="region_form" method="post">
        <input type="hidden" name="id" id="id" />
        <div class="region_form">
            <p><label for="province">省份</label><input class="easyui-combobox" id="province" name="provinceId" data-options="required:true" /></p>
            <p><label for="city">城市</label><input class="easyui-combobox" id="city" name="cityId" data-options="required:true" /></p>
            <p><label for="name">地区</label><input class="easyui-textbox" id="name" name="name" data-options="required:true" /></p>
            <div class="region_form_button">
                <a class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="region.save();"><span>保存</span></a>
            </div>
        </div>
    </form>
</div>
<div id="region2_dialog" class="easyui-dialog" data-options="closed:true,modal:true" style="width:500px;">
    <form id="region2_form" method="post" enctype="multipart/form-data">
        <div class="region2_form">
            <p><input class="easyui-filebox" id="uploadRegionExcelFile" name="regionExcelFile" data-options="buttonText:'选择Excel',accept:'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel',width:300" /></p>
            <div class="region2_form_button">
                <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="uploadRegionExcelFile()" id="confirm"><span>确定</span></a>
            </div>
        </div>
    </form>
</div>
</body>
</html>